/* Google Fonts */
.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.oswald-500 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.lexend-deca-300 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Default Elements */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #111111;
    margin: 0;
}
h1 {
    color: #ffffff;
    margin: 1rem;
    font-size: 9rem;
    font-weight: 900;
    text-transform: uppercase;
    animation: color-change 6000ms infinite;
}
h2 {
    font-size: 7vh;
    /* border-right: .05em solid;
    animation: caret 1s steps(1) infinite; */
}
p {
    font-size: 4vh;
}

/* Navigation */
.sticky {
    right: 0;
    padding-right: 5rem;
    position: fixed;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: difference;
}
.nav a {
    color: #ffffff;
    font-size: 3.5vh;
    text-decoration: none;
    text-transform: uppercase;
    text-align: end;
    letter-spacing: 0.2vh;
    line-height: 5rem;
}
.nav a:hover {
    font-size: 4.5vh;
    transition-duration: 400ms;
}

/* Hero */
.hero-banner {
    height: 100vh;
    background-color: #111111;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.sub {
    color: #ffffff;
    font-size: 2.8vh;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    margin: -20px 0 0 23px;
}

/* About */
.about {
    height: 100vh;
    width: 100vh;
    color: #ffffff;
    background-color: #111111;
    padding: 4rem;
}
.about h2 {
    color: #ffffff;
}
.about p {
    color: #ffffff;
}

/* Websites */
.websites {
    height: 100vh;
    color: #111111;
    background-color: #ffffff;
    padding: 4rem;
}
.websites h2 {
    color: #111111;
}
.websites p {
    color: #111111;
}

/* Other Effects */
.fade-in {
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}

/* Animation Keyframes */
/* Color Change */
@keyframes color-change {
    0% { color: #e3e4e6; }
    25% { color: #f7d0cb; }
    50% { color: #f9fafc; }
    75% { color: #313131; }
    100% { color: #f6d9d5; }
}
/* End Color Change */
/* Fade In */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* End Fade In */

/* @keyframes caret {
    50% {
      border-color: transparent;
    }
} */

/* Responsive */
@media screen and (max-width: 630px) {
    /* Default HTML Elements */
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.8rem;
    }

    /* Custom Classes */
    .about {
        width: fit-content;
    }
}