/* Google Fonts */
.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.oswald-500 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.lexend-deca-300 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Default Elements */
* {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    cursor: none;
    background-color: #111;
}
h1 {
    color: #fff;
    margin: 1rem;
    font-size: 9rem;
    font-weight: 900;
    text-transform: uppercase;
}
h2 {
    font-size: 7vh;
    margin-top: 0;
}
p {
    font-size: 4vh;
    margin-top: 0;
}
a {
    cursor: none;
}

/* Cursor */
#cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform 0.2s;
}

/* Navigation */
.sticky {
    right: 0;
    padding-right: 5rem;
    position: fixed;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: difference;
}
.nav a {
    color: #fff;
    font-size: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    text-align: end;
    letter-spacing: 0.2vh;
    line-height: 3.5rem;
}
.nav a:hover {
    scale: 1.2;
    transition-duration: 400ms;
}

/* Hero */
.hero-banner {
    height: 100vh;
    background-color: #111;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.sub {
    color: #fff;
    font-size: 2.8vh;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    margin: -20px 0 0 23px;
}

/* About, Websites and Contact */
.about, .websites, .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 30rem 0 4rem;
}

/* About */
.about {
    color: #fff;
    background-color: #111;
}
.about h2 {
    color: #fff;
}
.about p {
    color: #fff;
}

/* Websites */
.websites {
    color: #111;
    background-color: #fff;
}
.websites h2 {
    color: #111;
}
.websites p {
    color: #111;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}
.projects img {
    margin: 0 2rem 2rem 0;
}
.projects img:hover {
    scale: 1.1;
    transition-duration: 400ms;
}

/* Logos */
.hf-logo img {
    width: 23vh;
}
.hyl-logo img {
    width: 12.5vh;
}
.sji-logo img {
    width: 20.5vh;
}
.aof-logo img {
    width: 10vh;
}
.ndl-logo img {
    width: 11.5vh;
}
.tbg-logo img {
    width: 27vh;
}
.fccr-logo img {
    width: 21.5vh;
}
.wcf-logo img {
    width: 9vh;
}
.aoc-logo img {
    width: 10.5vh;
}

/* Skills */
.skills {
    color: #fff;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140vh;
    padding: 0 30rem 5rem 4rem;
}
.skills p {
    font-size: 3vh;

}
.highlight p {
    margin: 0;
}
.bar {
    background: #6b6b6ba2;
    display: block;
    height: 1rem;
    width: 100%;
    border-radius: 5rem;
    overflow: hidden;
    margin: 0.5rem 0 1.5rem 0;
}
.bar span {
    display: block;
    height: 1rem;
    background: #fff;
    animation-play-state: paused;
}

.web-markup {
    width: 90%;
    animation: web-markup 3s;
}
.javascript {
    width: 70%;
    animation: javascript 3s;
}
.react {
    width: 55%;
    animation: react 3s;
}
.nodejs {
    width: 65%;
    animation: nodejs 3s;
}
.seo {
    width: 80%;
    animation: seo 3s;
}
.php {
    width: 85%;
    animation: php 3s;
}
.java {
    width: 90%;
    animation: java 3s;
}
.dbms {
    width: 70%;
    animation: dbms 3s;
}
.resume-btn {
    width: 10rem;
    padding: 0.8rem 0 0.8rem 0;
    font-size: 2vh;
    margin-top: 2rem;
    cursor: none;
    border: none;
    border-radius: 0.3rem;
    color: #111;
    background-color: #fff;
}
.resume-btn:hover {
    scale: 1.1;
    transition-duration: 400ms;
}

/* Contact */
.contact {
    color: #fff;
    background-color: #111;
}
.contact h2 {
    color: #fff;
    margin: 0;
}
.contact p {
    color: #fff;
    font-size: 2.5vh;
    margin: 1.5rem 0 2.5rem 0;
}
.socials {
    display: inline-block;
}
.socials img {
    width: 2.5rem;
    margin-right: 10px;
}
.email img {
    width: 2.3rem;
}
.socials img:hover {
    scale: 1.2;
    transition-duration: 400ms;
}